<footer class="">
  <div class="">
    <address class="">
      <p class="">Email: info@eventomadeinspain.com</p>
      <p class="">Teléfono: +34 912 587 100</p>
    </address>
  </div>
  <div class="">
    <div class="">
      <a href="index.html" class="link">Jornadas de Seguridad</a>
    </div>
    <nav class="">
      <ul class="">
        <li class="">
          <a href="index.html" class="">Inicio</a>
        </li>
        <li class="">
          <a href="speakers.html" class="">Conferenciantes</a>
        </li>
      </ul>
    </nav>
    <div class="">
      <a
        href="https://twitter.com"
        target="_blank"
        aria-label="Twitter"
        class="">
        <i class=""></i>
      </a>
      <a
        href="https://facebook.com"
        target="_blank"
        aria-label="Facebook"
        class="">
        <i class=""></i>
      </a>
      <a
        href="https://linkedin.com"
        target="_blank"
        aria-label="LinkedIn"
        class="">
        <i class=""></i>
      </a>
    </div>
  </div>
</footer>
