<header
  class="flex md:flex-row md:justify-between flex-col gap-4 p-4 items-center bg-primary text-secondary">
  <div class="text-center font-bold font-lato text-2xl/9">
    <a
      href="index.html"
      class="text-light hover:text-secondary hover:underline transition-colors duration-300">
      Jornadas de Seguridad
    </a>
  </div>
  <nav class="md:self-end self-center">
    <ul
      class="flex flex-col md:flex-row gap-2 md:gap-8 p-0 m-0 list-none md:justify-between">
      <li>
        <a
          href="index.html"
          class="text-light hover:text-secondary hover:underline transition-colors duration-300">
          Home
        </a>
      </li>
      <li>
        <a
          href="index.html"
          class="text-light hover:text-secondary hover:underline transition-colors duration-300">
          Home
        </a>
      </li>
    </ul>
  </nav>
</header>
